body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto for body text */
}

.navbar {
    position: fixed; /* Fix the navbar position */
    top: 0; /* Position it at the top of the screen */
    width: 100%; /* Make it span the entire width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2.5px solid transparent;
    border-image: linear-gradient(to right, #FF5733, #FFC300);
    border-image-slice: 1;
    background-color: white; /* Set a background color to ensure text visibility */
    z-index: 1000; /* Ensure it appears above other content */
}

.logo {
    font-family: 'Inconsolata', monospace;
    font-size: 28px;
    font-weight: bold;
    margin-left: 30%;
}

.nav-links {
    display: flex;
    margin-right: 30%;
}

.nav-link {
    margin-right: 30%;
    text-decoration: none;
    color: black;
    font-family: 'Inconsolata', monospace; /* Use Inconsolata for navbar */
    font-size: 18px;
}

.content {
    padding: 60px; /* Increased padding for top and bottom */
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    height: 100%;
}

.main-info {
    margin-top: 20px;
    margin-inline: auto;
    max-width: 70%; /* Adjust as needed */
}

.main-text {
    flex: 1;
    padding-right: 20px;
}

.syntax-box {
    flex: 1;
    padding: 0 20px; /* Keep padding on left and right */
    width: 300px; /* Set a fixed width */
    height: auto; /* Set height to auto */
    overflow: auto;
    outline: none; /* Remove any existing outline */
    border-left: 2px solid #E4E4E4;
    border-right: 2px solid #E4E4E4;
    border-bottom: 2px solid #E4E4E4;
    border-top: none; /* Remove the top border */
    background-color: transparent; /* Remove the background color */
}

/* Override Prism.js styles */
pre[class*="language-"] {
    background: none !important;
    font-size: 12px !important; /* Set a smaller font size */
    margin: 0;
    padding: 0;
}

code[class*="language-"],
pre[class*="language-"] {
    color: inherit;
    background: none;
    font-family: inherit;
    line-height: 1.2; /* Adjust line-height for better readability */
    font-size: inherit;
}

/* Custom syntax highlighting */
.language-js .token.keyword { color: #d73a49; }
.language-js .token.string { color: #032f62; }
.language-js .token.function { color: #6f42c1; }
.language-js .token.variable { color: #e36209; }
.language-js .token.comment { color: #6a737d; font-style: italic; }

.footer {
    background: #FF5733;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 100px;
}

.main-title {
    justify-content: space-between;
    align-items: flex-start;
    margin-inline: auto;
    max-width: 70%; /* Adjust as needed */
    flex: 1;

    h1 {
        width: fit-content;
        line-height: 75%;
        margin: 0;
        margin-left: auto;
        --bg-size: 400%;
        --color-one: #FF5733;
        --color-two: #FFC300;
        font-family: 'Inconsolata', monospace;
        font-size: 180px;
        background: linear-gradient(
            135deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
        ) 0 / var(--bg-size) 100%;
        color: transparent;
        background-clip: text;
        animation: tea-logo-anim 8s linear infinite;
        letter-spacing: 8px;
    }

    p {
        width: fit-content;
        list-style: none;
        margin: 0;
        margin-top: 4px;
        margin-left: auto;
        font-size: 24px;
        font-family: 'Fira Code', monospace;
        font-weight: bolder;
        color: #696969;
        white-space: nowrap;
        overflow: hidden;
        max-width: 0%;
        animation: text-slide-anim 1s linear forwards;
        box-sizing: border-box;
    }

    @for $i from 1 through 3 {
        p:nth-of-type(#{$i}n) {
            animation-delay: #{($i - 1) * 0.35}s;
        }
    }
}

@keyframes tea-logo-anim {
    to {
        background-position: var(--bg-size) 0;
    }
}

/* The typing effect */
@keyframes text-slide-anim {
    from { max-width: 0;}
    to { max-width: 100%; }
}